### Functions of list 

#### To add item 
    list.append(object) --> add item at the last
    list.insert(index,object) --> add item at index location
    list.extend(iterables) --> iterate through sequence and add each element at the end
#### To remove item
    list.pop() --> remove last element from list
    list.pop(index) --> remove element from index 
    list.remove(object) --> remove first occurence of object from list
#### Basic Operations on List 
    list.count(object) --> count no of repeatitions of object
    list.index(object) --> return index of the object ( first occurence)
    list.reverse() --> reverse ordered list
    list.clear() --> remove all itmes
    list.sort() --> sort the list in ascending order by default
    note--> for sort list must be homogenous

In [1]:
student = [ 
    [ 'rahul',76,89,67],
    [ 'ajay', 56,78,56 ],
    [ 'nikha', 67,89,67]
]

In [16]:
# for use to work with iterables or sequences 

for item in student : 
    print(item)

['rahul', 76, 89, 67]
['ajay', 56, 78, 56]
['nikha', 67, 89, 67]

In [9]:
normal = ['java','c','c++','ruby','perl']
for item in normal :
    print(item,end=',\t')

java,	c,	c++,	ruby,	perl,

In [15]:
# string is sequence or not ? 
for item in "Python" : 
    print(item.center(50,"-"))

------------------------P-------------------------
------------------------y-------------------------
------------------------t-------------------------
------------------------h-------------------------
------------------------o-------------------------
------------------------n-------------------------

In [17]:
data = [ 'java','c','c++']

In [18]:
data.append("ruby")

In [19]:
data

['java', 'c', 'c++', 'ruby']

In [20]:
x = data.append('python')
print(x)

None

In [21]:
data

['java', 'c', 'c++', 'ruby', 'python']

In [22]:
"hello world".upper()

'HELLO WORLD'

In [23]:
x = print("hello world")
print(x)

hello world
None

In [26]:
print(print(print(print("Hello World"))))

Hello World
None
None
None

In [25]:
print(input("Enter your name : "))

Enter your name : sachin
sachin

In [27]:
l = [ 1,2,3]

l = l.append(4)

print(l)

None

In [28]:
l = [ 1,2,3]
l1 = l.append(4)

In [29]:
l

[1, 2, 3, 4]

In [30]:
l1

In [31]:
print(l1)

None

In [32]:
l.pop()

4

In [33]:
l

[1, 2, 3]

In [34]:
data = [ 'java','c','c++','something']

In [35]:
data.append('hi')

In [36]:
data

['java', 'c', 'c++', 'something', 'hi']

In [37]:
data.append(['bye','morning'])

In [38]:
print(data)

#A. [ 'java','c','c++','something','hi','bye','morning']
#B. [ 'java','c','c++','something','hi',['bye','morning']]
#C. None
#D. pta nh

['java', 'c', 'c++', 'something', 'hi', ['bye', 'morning']]

In [39]:
data.insert(2,'python')

In [40]:
data

['java', 'c', 'python', 'c++', 'something', 'hi', ['bye', 'morning']]

In [41]:
data.insert(11,'good to go')
print(data)

['java', 'c', 'python', 'c++', 'something', 'hi', ['bye', 'morning'], 'good to go']

In [42]:
data.insert(100,'something')

In [43]:
data

['java',
 'c',
 'python',
 'c++',
 'something',
 'hi',
 ['bye', 'morning'],
 'good to go',
 'something']

In [45]:
data.index('good to go')

7

In [46]:
data.insert(-1,"sachin")

In [47]:
data

['java',
 'c',
 'python',
 'c++',
 'something',
 'hi',
 ['bye', 'morning'],
 'good to go',
 'sachin',
 'something']

In [52]:
d = [ 5,6,34,5,634]

In [53]:
d.insert(100,100)
print(d)

[5, 6, 34, 5, 634, 100]

In [54]:
d.insert(-2,10)
print(d)

#A. [ 5,6,34,5,634,10,100]
#B. [ 5,6,34,5,10,634,100]
#C. [ 5,6,34,10,5,634,100]
#D. [ 5,6,34,5,634,100,10]

[5, 6, 34, 5, 10, 634, 100]

In [55]:
d.insert(-100,'yahoo')
print(d)

['yahoo', 5, 6, 34, 5, 10, 634, 100]

In [56]:
d = []
d.extend(123)
print(d)

TypeError: 'int' object is not iterable

In [57]:
d = []
d.extend('python')
print(d)

['p', 'y', 't', 'h', 'o', 'n']

In [58]:
d = []
d.extend(['hello','hi','bye','are you getting this ?'])

In [59]:
print(d)

['hello', 'hi', 'bye', 'are you getting this ?']

In [60]:
# list.pop() --> reverse append
# list.pop(index) --> reverse insert

In [62]:
d

['hello', 'hi', 'bye', 'are you getting this ?']

In [ ]:
item = d.pop()
print(f"{item} is deleted from list")

In [66]:
#old fashion formatting
x = 5
y = 6
r = x + y 
print("x = %d"%(x))
print("y = %d"%(y))
print("result = %d"%(r))

x = 5
y = 6
result = 11

In [78]:
#old fashion formatting
x = 5
y = 6
r = x + y 
# string formating
s = """
x = %.2f
y = %.2f
result = %.2f 
"""%(x,y,r)
print(s)

x = 5.00
y = 6.00
result = 11.00

In [80]:
%%writefile calc.py
x = eval(input("Enter x : "))
y = eval(input("Enter y : "))
result = """
x   = %.2f
y   = %.2f
x+y = %.2f
x-y = %.2f
x*y = %.2f
x/y = %.2f
"""%(x,y,x+y,x-y,x*y,x/y)
print(result)

Writing calc.py

In [3]:
#old fashion formatting
x = 5
y = 6
r = x + y 
# string formating
s = """
x = {:.2f}
y = {:.2f}
result = {:.2f}
""".format(x,y,r)
print(s)

x = 5.00
y = 6.00
result = 11.00

In [6]:
##%%writefile calc.py
x = eval(input("Enter x : "))
y = eval(input("Enter y : "))
result = """
x   = {:.2f}
y   = {:.2f}
x+y = {:.2f}
x-y = {:.2f}
x*y = {:.2f}
x/y = {:.2f}
""".format(x,y,x+y,x-y,x*y,x/y)
print(result)

Enter x : 6
Enter y : 7

x   = 6.00
y   = 7.00
x+y = 13.00
x-y = -1.00
x*y = 42.00
x/y = 0.86

In [7]:
s = "Welcome user {}"

In [8]:
name= input("Enter user name : ")
print(s.format(name))

Enter user name : sachin
Welcome user sachin

In [9]:
s

'Welcome user {}'

In [10]:
s = "hello {one}, you are good than {two}.   {one}"

In [11]:
print(s.format(one=1,two=2))

hello 1, you are good than 2.   1

In [21]:
s = "{0} is a good. {0} has {1} legs. {0} goes to school."

In [22]:
s.format('ram',4)

'ram is a good. ram has 4 legs. ram goes to school.'

In [23]:
s = "{name} is a good. {name} has {legs} legs. {name} goes to school."

In [24]:
s.format(legs=2,name='yahoo')

'yahoo is a good. yahoo has 2 legs. yahoo goes to school.'

In [25]:
name='yahoo'
legs=4
s = f"{name} is a good. {name} has {legs} legs. {name} goes to school."
print(s)

yahoo is a good. yahoo has 4 legs. yahoo goes to school.

In [26]:
s = f"""
name = {input("Enter your name : ")}
age = {input("Enter your age")}
"""

Enter your name : sachin
Enter your age23

In [27]:
print(s)

name = sachin
age = 23

In [28]:
x = eval(input("Enter x = "))
y = eval(input("Enter y = "))

s = f"""
x   = {x}
y   = {y}
x+y = {x+y}
x-y = {x-y}
x*y = {x*y}
x/y = {x/y}
"""
print(s)

Enter x = 5
Enter y = 5

x   = 5
y   = 5
x+y = 10
x-y = 0
x*y = 25
x/y = 1.0

In [29]:
data = [ 'java','c','c++','something']

In [30]:
item = data.pop()

print(f"{item} is deleted form list")

something is deleted form list

In [31]:
item = data.pop()

print(f"{item} is deleted form list")

c++ is deleted form list

In [32]:
data

['java', 'c']

In [33]:
data.extend(['ruby','perl','java','python','R'])

In [34]:
data

['java', 'c', 'ruby', 'perl', 'java', 'python', 'R']

In [35]:
item = data.pop(-3)
print(f"{item} is deleted")
print(data)

java is deleted
['java', 'c', 'ruby', 'perl', 'python', 'R']

In [36]:
data.append('java')

In [37]:
data

['java', 'c', 'ruby', 'perl', 'python', 'R', 'java']

In [38]:
data.remove('java')

In [39]:
data

['c', 'ruby', 'perl', 'python', 'R', 'java']

In [40]:
data.remove('sachin')

ValueError: list.remove(x): x not in list

In [41]:
"sachin" in data

False

In [42]:
"java" in data

True

In [43]:
if True : 
    print("It's True")
else  : 
    print("It's False")

It's True

In [44]:
if False : 
    print("It's True")
else  : 
    print("It's False")

It's False

In [45]:
item = input("Enter item to delete from list : ").strip().lower()
if item in data : 
    data.remove('sachin')
    print(f"{item} is deleted form {data}.")
else : 
    print(f"No such item {item} available.")

Enter item to delete from list : yahoo
No such item yahoo available.

In [46]:
data

['c', 'ruby', 'perl', 'python', 'R', 'java']

In [48]:
item = input("Enter item to delete from list : ").strip().lower()
if item in data : 
    data.remove(item)
    print(f"{item} is deleted form {data}.")
else : 
    print(f"No such item {item} available.")

Enter item to delete from list : ruby
ruby is deleted form ['c', 'perl', 'python', 'R', 'java'].

In [49]:
#pop(),remove()

In [50]:
data

['c', 'perl', 'python', 'R', 'java']

In [52]:
item  = input("Enter item : ").strip().lower()
i = data.index(item)

print("Item found at location ",i)

Enter item : sachin

ValueError: 'sachin' is not in list

In [53]:
data

['c', 'perl', 'python', 'R', 'java']

In [54]:
data.extend(data)
print(data)

['c', 'perl', 'python', 'R', 'java', 'c', 'perl', 'python', 'R', 'java']

In [57]:
"hello " + "world"

'hello world'

In [60]:
"hello "*4 # repeat

'hello hello hello hello '

In [61]:
[ 5,1 ]*5

[5, 1, 5, 1, 5, 1, 5, 1, 5, 1]

In [62]:
data

['c', 'perl', 'python', 'R', 'java', 'c', 'perl', 'python', 'R', 'java']

In [63]:
data.extend(['c','c','java','c','c++'])

In [65]:
print(data)

['c', 'perl', 'python', 'R', 'java', 'c', 'perl', 'python', 'R', 'java', 'c', 'c', 'java', 'c', 'c++']

In [66]:
data.count('sachin')

0

In [67]:
data.count('c')

5

In [68]:
data.count('c++')

1

In [69]:
data.count('java')

3

In [70]:
data.clear()

In [71]:
data

[]

In [72]:
data = [ 'hello','hi','bye']

In [73]:
data.reverse()

In [74]:
data

['bye', 'hi', 'hello']

In [75]:
names = [ 'sachin','yadvendra','manish','kushal','rajat','nidhi',
         'ravi','gaurav',]

In [76]:
names

['sachin', 'yadvendra', 'manish', 'kushal', 'rajat', 'nidhi', 'ravi', 'gaurav']

In [77]:
names.sort()

In [78]:
names

['gaurav', 'kushal', 'manish', 'nidhi', 'rajat', 'ravi', 'sachin', 'yadvendra']

In [79]:
from random import randint

In [86]:
randint(10,20)

13

In [87]:
data = [ randint(1,20),randint(1,20)]

In [88]:
data

[19, 1]

In [89]:
data = [ randint(1,20) for var in range(15) ] # list compression

In [90]:
data

[17, 18, 20, 13, 18, 2, 5, 14, 12, 20, 4, 5, 12, 3, 17]

In [91]:
data.sort(reverse=True)

In [92]:
data

[20, 20, 18, 18, 17, 17, 14, 13, 12, 12, 5, 5, 4, 3, 2]

# dictionary

In [93]:
d = { 'key':'value','key1':'value1'} # mutable, unordered

In [94]:
d

{'key': 'value', 'key1': 'value1'}

In [96]:
d['key']

'value'

In [97]:
d = { 'name':'python','scope':['web','ds','ml','ai','cloud','hadoop'],
    'version':3.7}

In [98]:
d

{'name': 'python',
 'scope': ['web', 'ds', 'ml', 'ai', 'cloud', 'hadoop'],
 'version': 3.7}

In [99]:
d['name']

'python'

In [100]:
d['version']

3.7

In [101]:
d['scope']

['web', 'ds', 'ml', 'ai', 'cloud', 'hadoop']

In [102]:
d['nonsense']

KeyError: 'nonsense'